In [1]:
import pandas as pd
import re

In [15]:
Data = pd.read_csv('test-python.csv', encoding='latin-1',
                   dtype={'Cities': str}, low_memory=False)

pattern = r'^(a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|ab|ac|ad|af|ag|ah|ai|aj|ak|al|am|an|ao)$'
filtered_data = Data[Data['CHARACTERISTIC_NAME'].astype(str).str.contains(pattern, flags=re.IGNORECASE, regex=True, na=False)]
display(filtered_data)

C:\Users\armin\AppData\Local\Temp\ipykernel_10200\662932992.py:5: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_data = Data[Data['CHARACTERISTIC_NAME'].astype(str).str.contains(pattern, flags=re.IGNORECASE, regex=True, na=False)]

,CENSUS_YEAR,DGUID,ALT_GEO_CODE,GEO_LEVEL,GEO_NAME,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,CHARACTERISTIC_NOTE,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+,C10_RATE_TOTAL,C11_RATE_MEN+,C12_RATE_WOMEN+,Unnamed: 14
2,2021,2021S051259150307,59150307,Dissemination area,59150307,128,u,NaN,63400.0,77000.0,48400.0,63400.0,77000.0,48400.0,NaN
25,2021,2021S051259150307,59150307,Dissemination area,59150307,151,x,20.0,12.7,9.2,19.2,12.7,9.2,19.2,NaN
52,2021,2021S051259150307,59150307,Dissemination area,59150307,240,x,NaN,8.1,5.2,13.4,8.1,5.2,13.4,NaN
55,2021,2021S051259150307,59150307,Dissemination area,59150307,252,v,NaN,133000.0,NaN,NaN,133000.0,NaN,NaN,NaN
82,2021,2021S051259150307,59150307,Dissemination area,59150307,1082,s,NaN,250.0,120.0,135.0,35.0,32.9,39.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469594,2021,2021S051259154196,59154196,Dissemination area,59154196,2227,ag,NaN,225.0,95.0,135.0,NaN,NaN,NaN,NaN
469615,2021,2021S051259154196,59154196,Dissemination area,59154196,2248,z,191.0,485.0,270.0,215.0,96.0,100.0,93.5,NaN
469626,2021,2021S051259154196,59154196,Dissemination area,59154196,2261,af,191.0,485.0,270.0,215.0,96.0,100.0,93.5,NaN
469665,2021,2021S051259154196,59154196,Dissemination area,59154196,2598,k,199.0,325.0,170.0,150.0,100.0,100.0,100.0,NaN
469672,2021,2021S051259154196,59154196,Dissemination area,59154196,2607,al,NaN,120.0,45.0,75.0,32.4,22.0,44.1,NaN